name: Update App Data

on:
  push:
    paths:
      - 'applist' # האקשן ירוץ רק אם עשית Push שכולל שינוי בקובץ הזה
  workflow_dispatch: # מאפשר לך גם להריץ את הסקריפט ידנית מהממשק של גיטהאב

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    
    # מתן הרשאות לכתיבה חזרה למאגר
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run the Python script
        run: python update_apps.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add play_store_apps.csv icons/
          # שורת הקוד הבאה מוודאת שיש שינויים לפני שהיא עושה קומיט, כדי למנוע קריסת אקשן
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-updated apps data and icons" && git push)
