name: Update App Data

on:
  push:
    paths:
      - 'applist'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    
    # הוספת הרשאת pages: write כדי שהבוט יוכל לבקש פריסת אתר
    permissions:
      contents: write
      pages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run the Python script
        run: python update_apps.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add play_store_apps.csv icons/
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-updated apps data and icons" && git push)

      - name: Trigger GitHub Pages rebuild
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/pages/builds
